header {
    background-color: var(--card-color);
    padding-top: var(--small-spacing);
    padding-bottom: var(--small-spacing);
    border: 5px solid var(--border-color);
    border-right: none;
    border-top: none;
    border-left: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -10px;
}

#nav-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

#logo {
    height: 70px;
    width: 130px;
}

#title {
    font-size: var(--h3);
    color: var(--primary-color);
    margin-left: -16px;
}

.nav-btn {
    background-color: var(--primary-color);
    color: var(--card-color);
    border: none;
    padding: 10px 20px;
    border-radius: var(--large-radius);
    transition: transform var(--normal-transition), background-color var(--normal-transition);
    cursor: pointer;
}

.nav-btn:hover {
    background-color: var(--secondary-color);
    transform: translateY(-2px);
}

.nav-btn:active {
    background-color: #ce1354;
    transform: translateY(2px);
}